
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    padding: 20px;
    

}
.title{
    padding: 2px;
  font-size: 22px;
  font-family:'Gudea', sans-serif ;
  color:rgb(210, 200, 200);
  
}